.profile-text {
    display: inline-block;
    margin-left: 24px;
    color: white;
}

.profile-text h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 24px;
}

.profile-text a {
    color: white;
    text-decoration: underline;
}

.stars {
    display: inline-block;
    margin-bottom: 8px;
}

.language-tag {
    color: black;
    background-color: white;
    padding: 4px;
    border-radius: 8px;
    width: 80px;
    text-align: center;
    display: inline-block;
    margin-left: 12px;
}
